/* Inspired on http://www.w3schools.com/css/css_image_gallery.asp (link: http://www.w3schools.com/css/tryit.asp?filename=trycss_image_gallery_responsive_js) */

/* The Image */
.clickview {
	width: 100%;
	height: auto;
	cursor: pointer;
}

/* The Modal (background) */
#clickview_modal {
	display: none; /* Hidden by default */
	position: fixed; /* Stay in place */
	z-index: 9999; /* Sit on top (and over bootstrap nav bar)*/
	padding-top: 100px; /* Location of the box */
	left: 0;
	top: 0;
	width: 100%; /* Full width */
	height: 100%; /* Full height */
	overflow: auto; /* Enable scroll if needed */
	background-color: rgb(0,0,0); /* Fallback color */
	background-color: rgba(0,0,0,0.92); /* Black w/ opacity */
}

/* Modal Content (image) */
#clickview_content {
	margin: auto;
	display: block;
	cursor: pointer;
}

/* The Close Button */
#clickview_close {
	position: absolute;
	top: 15px;
	right: 35px;
	color: #f1f1f1;
	font-size: 40px;
	font-weight: bold;
	transition: 0.3s;
}

#clickview_close:hover,
#clickview_close:focus {
	color: #bbb;
	text-decoration: none;
	cursor: pointer;
}

#clickview_caption {
    margin: auto;
    display: block;
    width: 80%;
    max-width: 700px;
    text-align: center;
    color: #ccc;
    padding: 10px 0;
    height: 150px;
}

