



/* Nicer font for code samples */

/*
code, kbd, pre, samp
	{
	font-family: "Lucida Console","Courier New",monospace;
	font-size: 12px;
	}
*/


/* Formatting for kbd items (keyboard shortcuts) */

kbd
	{
	background-color: #e7e7e7;
	background-image: -moz-linear-gradient(#fefefe, #e7e7e7);
	background-image: -webkit-linear-gradient(#fefefe, #e7e7e7);
	background-image: linear-gradient(#fefefe, #e7e7e7);
	background-repeat: repeat-x;
	border-radius: 2px;
	border: 1px solid #cfcfcf;
	color: #000;
	padding: 4px 3px 2px 3px;
	line-height: 10px;
	display: inline-block;
	}


/* Centered vector graphics without background */

canvas
	{
	background-color: transparent;
	margin: 20px auto;
	}


/* Responsive images */

img
	{
	/*display: block;
	margin: 20px auto;
	max-width: 93%;
	height: auto;*/
	display: block;
	margin: 20px auto;
	max-width: 100%;

	}


img.img-medium
	{
	max-width: 520px;
	}

img.img-small
	{
	max-width: 320px;
	}


/* Nicely formatted centered title and subtitle */

h1.title
	{
    text-align: center;
    font-size: 45px;
    font-weight: 300;
	}

p.title
	{
    text-align: center;
	}


/* Roadmap */

p.roadmap
	{
	margin-left: 1em;
	margin-bottom: 0.4em;
	}

p.roadmap.todo
	{
	margin-left: 2.3em;
	}

p.roadmap i
	{
	color: #4CAF50;
	}

p.roadmap.wip i
	{
	color: #FF9800;
	}


/* Indented paragraphs */

p.indent
	{
	margin-left: 26px;
	}