
.slick-carousel
	{
	max-width: 80%;
	margin: 0 auto;
	}

.slider
	{
	width: 100%;
	margin: 20px auto;
	}

.slick-dotted.slick-slider
	{
	margin-bottom: 60px;
	}

.slick-slide
	{
	margin: 0px 5px;
    color: #BBB;
	}

.slick-slide > p
	{
	margin: 0 10px 15px;
	}

.slick-slide img
	{
	/* width: 100%; */
	margin: 5px auto 10px;
	}

.slick-slide .header
	{
	font-size: 18px;
	margin: 0 10px 10px;

    font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
    font-weight: 500;
    line-height: 1.1;
    color: #49C;
	}


.slick-prev:before,
.slick-next:before,
.slick-prev:focus:before,
.slick-next:focus:before
	{
	color: #181818;
	opacity: 0.5;
	font-size: 35px;
	}

.slick-prev:hover:before,
.slick-next:hover:before
	{
	opacity: 1;
	}

.slick-prev.slick-disabled:before,
.slick-next.slick-disabled:before
	{
    opacity: .1;
	}

.slick-prev,
.slick-next
	{
	width: 35px;
	height: 35px;
	}

.slick-prev
	{
	left: -40px;
	}

.slick-next
	{
	right: -40px;
	}

.slick-slider
	{
	background-color: #181818;
	}


/* Allow text selection. NOTE: draggable should be false in Slick initialization. */

.slick-slider
	{
    -webkit-user-select: auto;
    -moz-user-select: auto;
    -ms-user-select: auto;
    user-select: auto;

    -webkit-touch-callout: auto;
    -khtml-user-select: auto;
	}


.slick-prev,
.slick-next,
.gusi-dots,
.slick-slide img
	{
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;

    -webkit-touch-callout: none;
    -khtml-user-select: none;
	}



/* Reescritura de slick-dots para que aparezcan los numeros de imagen en los botones inferiores de seleccion */

.gusi-dots
	{
	position: absolute;
	bottom: -50px;

	display: block;

	width: 100%;
	padding: 0;
	margin: 15px 0;

	list-style: none;

	text-align: left;
	}

.gusi-dots li
	{
	position: relative;

	display: inline-block;

	width: 20px;
	height: 20px;
	margin: 0 5px;
	padding: 0;

	cursor: pointer;
	}

.gusi-dots li button
	{
	text-align: center;

	display: block;

	width: 24px;
	height: 24px;
	padding: 3px;

	cursor: pointer;

	color: white;
	border: 0;
	outline: none;
	background: #181818;
	opacity: 0.5;
	}

.gusi-dots li button:hover,
.gusi-dots li button:focus,
.gusi-dots li.slick-active button
	{
	outline: none;
	opacity: 1;
	}
