
.slider
	{
	width: 100%;
	margin: 20px auto;
	}

.slick-dotted.slick-slider
	{
	margin-bottom: 60px;
	}

.slick-slide
	{
	margin: 0px 5px;
	}

.slick-slide img
	{
	width: 100%;
	margin: 5px auto 10px;
	}

.slick-slide .header
	{
	font-size: 18px;
	margin: 0 10px 5px;

    font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
    font-weight: 500;
    line-height: 1.1;
    color: #49C;
	}

.slick-slide p
	{
	color: #CCC;
	margin: 0 10px 15px;
	}

.slick-prev:before,
.slick-next:before
	{
	color: black;
	opacity: 0.5;
	}

.slick-slider
	{
	background-color: black;
	}


/* Reescritura de slick-dots para que aparezcan los numeros de imagen en los botones inferiores de seleccion */

.gusi-dots
	{
	position: absolute;
	bottom: -50px;

	display: block;

	width: 100%;
	padding: 0;
	margin: 15px 0;

	list-style: none;

	text-align: left;
	}

.gusi-dots li
	{
	position: relative;

	display: inline-block;

	width: 20px;
	height: 20px;
	margin: 0 5px;
	padding: 0;

	cursor: pointer;
	}

.gusi-dots li button
	{
	text-align: center;

	display: block;

	width: 24px;
	height: 24px;
	padding: 3px;

	cursor: pointer;

	color: white;
	border: 0;
	outline: none;
	background: black;
	opacity: 0.5;
	}

.gusi-dots li button:hover,
.gusi-dots li button:focus,
.gusi-dots li.slick-active button
	{
	outline: none;
	opacity: 1;
	}
